# --- МОЇ ПРАВИЛА ДЛЯ ДИПЛОМА ---

# Ігноруємо моделі ШІ
src/models/*.keras
src/models/*.p
src/models/*.h5

# Ігноруємо датасети та всі аудіофайли
[Dd]ataset/
dataset/
Dataset/
audio_clips/
*.wav

# Ігноруємо локальну базу даних
sdr_pi.db